.myDialog {
    -fx-background-color: white;
}

.myDialog > *.button-bar > *.container {
    -fx-background-color: white;
}

.myDialog > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weigh:bold;
}

.myDialog:header *.header-panel {
    -fx-background-color: white;
}

.myDialog:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-fill: black;
    -fx-font-weight: Bold;
}